body {
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 100%);
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:24px;
}

.center {
    text-align:center;
}

#log {
	font-size:16px;
	width:95%;
	height:30%;
	bottom:1%;
	position:absolute;
	background-color:#333;
	color:#0f0;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	padding:3px;
	overflow:scroll;
}

h1 {
	font-size:30px;
	font-weight:normal;
	margin:5px;
}

#connect-button {
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	position:absolute;
	width:95%;
	height:40px;
}
