benchmarking/bench
code_editor/web
ini_test/test
interactive_code/code_editor/code_editor
interactive_code/code_editor/logs
jpeg_video_test/client
jpeg_video_test/forwarder
jpeg_video_test/server
layla/backend/backend
quizbot_reader/quizbot_reader
quizbot/software/quizbot
rasa_iterum/rasa_iterum
roomba_testing/roomba
sensors/imu/show_IMU/main
superstar/auth
superstar/backups
superstar/db.bak
superstar/log
superstar/logs
superstar/netbench
superstar/superstar
tabula_rasa/arduino/main.cpp
tabula_rasa/arduino/main.elf
tabula_rasa/arduino/main.hex
tabula_rasa/arduino/mega.elf
tabula_rasa/arduino/temp
tabula_rasa/arduino/uno.elf
tabula_rasa/backend
tabula_rasa/backend.dSYM
tabula_rasa/tester
tabula_rasa/arduino/uno.hex
tabula_rasa/arduino/mega.hex
utils/expand_db/expand_db
utils/testing/new_test/benchmark
www/blog
www/downloads/files
www/latest.tar.gz
a.out
superstarv2/superstar
superstarv2/auth
subsystems/kinect_localize/Sound_Localize_Kinect
# generic gotcha files/c++
*.exe
*.o
*.tar.gz
*.elf
*.gch
*.so
*.dll
*.dylib
*.a
*.la
*.lib
*.hex
*.out
*.json

# python gotchas
__pycache__/
*.py[cod]
*$py.class

# any log files
*.log
