layla/backend/backend
layla/backend/backend.exe
quizbot/software/quizbot
quizbot/software/quizbot.exe
jpeg_video_test/server
jpeg_video_test/server.exe
jpeg_video_test/client
jpeg_video_test/client.exe
code_editor/code_editor
code_editor/code_editor.exe
code_editor_test_local/code_editor
code_editor_test_local/code_editor.exe
superstar/netbench
superstar/netbench.exe
superstar/superstar
superstar/superstar.exe
superstar/auth
quizbot_reader/quizbot_reader
quizbot_reader/quizbot_reader.exe
roomba_testing/roomba
roomba_testing/roomba.exe
