head,body
{
	overflow:hidden;
	padding:0px;
	margin:0px;
	width:100%;
	height:100%;
}

.CodeMirror
{
	border:1px solid #000000;
	height:auto;
}
.CodeMirror-scroll
{
	overflow:visible;
	min-height:128;
	max-height:320;
}

.robots
{
	--top-menu-height:50px;
	--side-menu-width:128px;
}

.robots.menu_div
{
	position:absolute;
	top:var(--top-menu-height);
	left:0px;
	height:calc(100% - var(--top-menu-height));
	width:var(--side-menu-width);
	overflow-y:auto;
}

.robots.gui_div
{
	position:absolute;
	top:var(--top-menu-height);
	left:var(--side-menu-width);
	height:calc(100% - var(--top-menu-height));
	width:calc(100% - var(--side-menu-width));
	overflow:auto;
}

.robot.menu
{
	width:100%;
}

.robot.menu.button
{
	height:40px;
}

.robot.menu.status_area
{
	height:80px;
}